# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/

# Rust
/target/
/spike/target/

# Caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Environments
.env
.venv/

# Jupyter Book
docs/_build/
